.App {
  font-family: sans-serif;
  text-align: center;
}

.darkbox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.575);
  left: 0;
  top: 0;
}
.lightbox {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
}
.lightbox img {
  margin-top: 100px;
  border: 10px solid #fff;
  border-radius: 3px;
}
.lightbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
